/* Wajib copy dari sini */
*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
}

body{
    background-color: #F3F6F0;
}

nav{
    display: flex;
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 52px;
    border-radius: 0px 0px 5px 5px;
    z-index: 101;
}

.logo img {
    margin-top: -65px;
    width: 180px;
}

button{
    all: unset;
    cursor: pointer;
    width: 37px;
    height: 26px;
}

.account img{
    width: 26px;
    height: 25px;
    /* padding-top: 13px;
    padding-left: 525px; */
}

.account{
    width: 26px;
    height: 25px;
    margin-top: 13px;
    margin-left: 20px;
    /* padding-top: 13px;
    padding-left: 525px; */
}

.upload img{
    width: 26px;
    height: 25px;
    /* padding-top: 13px;
    padding-left: 511px;   */
}

.upload{
    width: 26px;
    height: 25px;
    margin-top: 13px;
    margin-left: 511px;
    /* padding-top: 13px;
    padding-left: 511px; */
}

.settings img{
    width: 26px;
    height: 25px;
    /* padding-top: 13px;
    padding-left: 518px; */
}

.settings{
    width: 26px;
    height: 25px;
    margin-top: 13px;
    margin-left: 20px;
    /* padding-top: 13px;
    padding-left: 518px; */
}

form{
    /* background-color: #84A96C; */
    padding-left: 430px;
    /* padding-top: 4px; */
    /* width: 300px;
    height: 44px; */
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input{
    all: unset;
    background-color: #84A96C;
    font: 16px system-ui;
    color: #FFFFFF;
    height: 30px;
    width: 218px;
    padding-left:11px;
    /* padding: 6px 10px; */
}

::placeholder{
    color: #FFFFFF;
}

svg{
    background-color: #D9D9D9;
    color: #000000;
    fill: currentColor;
    width: 25px;
    height: 25px;
    padding: 3px 7px 2px 7px;
    margin-top: -2px;
}

/* copy sampe sini */

.toggler-navbar {
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 213px;
    height: 100%;
    background: #3E6765;
    text-align: left;
    font-size: 20px;
    /* transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: left center;
    transition: .5s; */
}

.account-sidebar img{
    width: 50px;
    height: 48px;
    margin-top: 60px;
    margin-left: 10px;
}

.username-sidebar{
    color: #FFFFFF;
    font: Inter;
    margin-top: -35px;
    margin-left: 72px;
    margin-bottom: 30px;
}

.sidebar.open {
    transform: rotate3d(0, 0, 1, 0deg);
}
.sidebar ul{
    /* list-style: none; */
    /* font-family: 'Noto serif', serif; */
    font-size: 15px;
    font-family: Inter;
}

/* .sidebar ul img{
    width: 15px;
    height: 15px;
} */

.sidebar li:hover,
.sidebar li.active {
    background: #829D9A;
    width: 200px;
    /* height: 20px; */
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 5px;
    /* opacity: 38%;
    z-index: 1; */
}

.sidebar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block
    
}
.hamburger-menu {
    /* padding-top: 50px; */
    /* padding-left: 15px; */
    margin-left: 12px;
    margin-top: -10px;
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    /* padding-left: 12px; */
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2.5px;
}

.hamburger-menu span:nth-child(2) {
    top: 11px;
}

.hamburger-menu span:nth-child(3) {
    top: 21px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.hamburger-menu.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.button-filter{
    background-color: #D9D9D9;
    font: Inter;
    /* font: Inter;
    color: #000000; */
    width: 140px;
    height: 26px;
    margin-left: 234px;
    margin-top: -800px;
    /* margin-top: -12000px; */
    /* border-top: -50px;
    padding-top: -1000px; */
}

.button-filter img{
    width: 18px;
    height: 19px;
    margin-top: 5px;
    margin-left: 111px;
}

.saved-tulisan{
    position: absolute;
    width: 133px;
    height: 24px;
    left: 250px;
    top: 78px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}


.line-barrier{
    width: 30px;
    height: 0px;
    /* height: 10px; */
    color: #A59E9E;
    top: 101px;
    left: 348px;
    border: 1px solid;
    margin-left: 374px;
    margin-top: -15px;
    transform: rotate(90deg);
}

.categories{
    background-color: #D9D9D9;
    width: 130px;
    height: 25px;
    border-radius: 15px;
    font-family: Inter;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
    margin-top: 35px;
}

.parent{
    place-items: center;
}

.quality-category{
    box-sizing: border-box;

    position: absolute;
    width: 171px;
    height: 33px;
    left: 1013px;
    top: 50px;
    
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 30px;
}

.quality-category a:visited{
    color: inherit;
}

.shuffle-category img{
    width: 15px;
    height: 15px;
    padding-left: 30px;
    /* padding-top: 2px; */
    /* margin-top: -15px; */
}

.shuffle-category{
    box-sizing: border-box;

    position: absolute;
    width: 135px;
    height: 33px;
    left: 1200px;
    top: 50px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 30px;
    
}

.play-category img{
    width: 15px;
    height: 15px;
    padding-left: 30px;
    /* padding-top: 2px; */
    /* margin-top: -15px; */
}

.play-category{
    box-sizing: border-box;

    position: absolute;
    width: 135px;
    height: 33px;
    left: 1350px;
    top: 50px;
    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 30px;
    
}

p{
    margin-top: -19px;
    margin-left: 55px;
}


.vid{
    font-size: 12px;
    font-family: Inter;
    margin-top: 57px;
    margin-left: 250px;
}

.container1{
    padding-top: 29px;
    margin: 25px 250px;
    position: relative;
}

.container1 p{
    margin-left: 280px;
    margin-top: -167px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #000000;
}

.desc1{
    position: absolute;
    width: 750px;
    height: 100px;
    top: 218px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;   
    
    color: #000000;
}

.video img{
    width: 251px;
    height: 162px;
}


.container2{
    padding-top: 170px;
    margin: 25px 250px;
    position: relative;
}

.container2 p{
    margin-left: 280px;
    margin-top: -167px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #000000;
}

.desc2{
    padding-top: 170px;
    width: 750px;
    height: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;   
    
    color: #000000;
}

.container3{
    padding-top: 69px;
    margin: 25px 250px;
    position: relative;
}

.container3 p{
    margin-left: 280px;
    margin-top: -167px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #000000;
}

.desc3{
    padding-top: 170px;
    width: 750px;
    height: 100px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;   
    
    color: #000000;
}

.container1 a:visited, 
.container2 a:visited, 
.container3 a:visited{
    color: inherit;
}
